@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="row">
    <div class="col-sm-6">
        <h1 class="display-4">Welcome to LC Video-Games</h1>
        <p class="display-6">Buy Video Game Keys Here Anytime!</p>
    </div>
    <div class="col-sm-6">
        <img src="images/Game.jpg" alt="Game Background"/>
    </div>
</div>

</div>
